
grant
{
	permission java.io.FilePermission "top-secret.txt", "read";

	permission java.io.FilePermission "trishul/test/trishul_p/compound/Local.class", "read";
	permission java.io.FilePermission "/home/sim/patrick/examples/trishul/test/trishul_p/compound/AllowSecret.policy", "read";

	permission java.io.FilePermission "../kaffe-1.1.7/kaffe/kaffeh/.libs/libjavanet.so", "read";
	permission java.io.FilePermission "../kaffe-1.1.7/kaffe/kaffevm/jni/.libs/libjavanet.so", "read";
	permission java.io.FilePermission "../kaffe-1.1.7/kaffe/kaffevm/kaffe-gc/.libs/libjavanet.so", "read";
	permission java.io.FilePermission "../kaffe-1.1.7/kaffe/kaffevm/intrp/.libs/libjavanet.so", "read";
	permission java.io.FilePermission "../kaffe-1.1.7/kaffe/kaffevm/verifier/.libs/libjavanet.so", "read";
	permission java.io.FilePermission "../kaffe-1.1.7/kaffe/kaffevm/systems/unix-pthreads/.libs/libjavanet.so", "read";
	permission java.io.FilePermission "../kaffe-1.1.7/kaffe/kaffevm/.libs/libjavanet.so", "read";
	permission java.io.FilePermission "../kaffe-1.1.7/kaffe/kaffe/.libs/libjavanet.so", "read";
	permission java.io.FilePermission "../kaffe-1.1.7/libraries/javalib/external/classpath/native/fdlibm/.libs/libjavanet.so", "read";
	permission java.io.FilePermission "../kaffe-1.1.7/libraries/javalib/external/classpath/native/jni/classpath/.libs/libjavanet.so", "read";
	permission java.io.FilePermission "../kaffe-1.1.7/libraries/clib/native/.libs/libjavanet.so", "read";
	permission java.io.FilePermission "../kaffe-1.1.7/libraries/clib/io/.libs/libjavanet.so", "read";
	permission java.io.FilePermission "../kaffe-1.1.7/libraries/clib/nio/.libs/libjavanet.so", "read";
	permission java.io.FilePermission "../kaffe-1.1.7/libraries/clib/net/.libs/libjavanet.so", "read";
	permission java.io.FilePermission "../kaffe-1.1.7/libraries/clib/zip/.libs/libjavanet.so", "read";
	permission java.io.FilePermission "../kaffe-1.1.7/libraries/clib/math/.libs/libjavanet.so", "read";
	permission java.io.FilePermission "../kaffe-1.1.7/libraries/clib/security/.libs/libjavanet.so", "read";
	permission java.io.FilePermission "../kaffe-1.1.7/libraries/clib/management/.libs/libjavanet.so", "read";
	permission java.io.FilePermission "../kaffe-1.1.7/external/gcc/zlib/.libs/libjavanet.so", "read";
	permission java.io.FilePermission "../kaffe-1.1.7/external/gcc/fastjar/.libs/libjavanet.so", "read";
	permission java.io.FilePermission "../kaffe-1.1.7/replace/.libs/libjavanet.so", "read";
	permission java.io.FilePermission "../kaffe-1.1.7/libltdl/.libs/libjavanet.so", "read";
	permission java.io.FilePermission "../kaffe-1.1.7/kaffe/kaffeh/.libs/libjavanet.dll", "read";
	permission java.io.FilePermission "../kaffe-1.1.7/kaffe/kaffevm/jni/.libs/libjavanet.dll", "read";
	permission java.io.FilePermission "../kaffe-1.1.7/kaffe/kaffevm/kaffe-gc/.libs/libjavanet.dll", "read";
	permission java.io.FilePermission "../kaffe-1.1.7/kaffe/kaffevm/intrp/.libs/libjavanet.dll", "read";
	permission java.io.FilePermission "../kaffe-1.1.7/kaffe/kaffevm/verifier/.libs/libjavanet.dll", "read";
	permission java.io.FilePermission "../kaffe-1.1.7/kaffe/kaffevm/systems/unix-pthreads/.libs/libjavanet.dll", "read";
	permission java.io.FilePermission "../kaffe-1.1.7/kaffe/kaffevm/.libs/libjavanet.dll", "read";
	permission java.io.FilePermission "../kaffe-1.1.7/kaffe/kaffe/.libs/libjavanet.dll", "read";
	permission java.io.FilePermission "../kaffe-1.1.7/libraries/javalib/external/classpath/native/fdlibm/.libs/libjavanet.dll", "read";
	permission java.io.FilePermission "../kaffe-1.1.7/libraries/javalib/external/classpath/native/jni/classpath/.libs/libjavanet.dll", "read";
	permission java.io.FilePermission "../kaffe-1.1.7/libraries/clib/native/.libs/libjavanet.dll", "read";
	permission java.io.FilePermission "../kaffe-1.1.7/libraries/clib/io/.libs/libjavanet.dll", "read";
	permission java.io.FilePermission "../kaffe-1.1.7/libraries/clib/nio/.libs/libjavanet.dll", "read";
	permission java.io.FilePermission "../kaffe-1.1.7/libraries/clib/net/.libs/libjavanet.dll", "read";
	permission java.io.FilePermission "../kaffe-1.1.7/libraries/clib/zip/.libs/libjavanet.dll", "read";
	permission java.io.FilePermission "../kaffe-1.1.7/libraries/clib/math/.libs/libjavanet.dll", "read";
	permission java.io.FilePermission "../kaffe-1.1.7/libraries/clib/security/.libs/libjavanet.dll", "read";
	permission java.io.FilePermission "../kaffe-1.1.7/libraries/clib/management/.libs/libjavanet.dll", "read";
	permission java.io.FilePermission "../kaffe-1.1.7/external/gcc/zlib/.libs/libjavanet.dll", "read";
	permission java.io.FilePermission "../kaffe-1.1.7/external/gcc/fastjar/.libs/libjavanet.dll", "read";
	permission java.io.FilePermission "../kaffe-1.1.7/replace/.libs/libjavanet.dll", "read";
	permission java.io.FilePermission "../kaffe-1.1.7/libltdl/.libs/libjavanet.dll", "read";
	permission java.io.FilePermission "../kaffe-1.1.7/kaffe/kaffeh/.libs/libjavanet.la", "read";
	permission java.io.FilePermission "../kaffe-1.1.7/kaffe/kaffevm/jni/.libs/libjavanet.la", "read";
	permission java.io.FilePermission "../kaffe-1.1.7/kaffe/kaffevm/kaffe-gc/.libs/libjavanet.la", "read";
	permission java.io.FilePermission "../kaffe-1.1.7/kaffe/kaffevm/intrp/.libs/libjavanet.la", "read";
	permission java.io.FilePermission "../kaffe-1.1.7/kaffe/kaffevm/verifier/.libs/libjavanet.la", "read";
	permission java.io.FilePermission "../kaffe-1.1.7/kaffe/kaffevm/systems/unix-pthreads/.libs/libjavanet.la", "read";
	permission java.io.FilePermission "../kaffe-1.1.7/kaffe/kaffevm/.libs/libjavanet.la", "read";
	permission java.io.FilePermission "../kaffe-1.1.7/kaffe/kaffe/.libs/libjavanet.la", "read";
	permission java.io.FilePermission "../kaffe-1.1.7/libraries/javalib/external/classpath/native/fdlibm/.libs/libjavanet.la", "read";
	permission java.io.FilePermission "../kaffe-1.1.7/libraries/javalib/external/classpath/native/jni/classpath/.libs/libjavanet.la", "read";
	permission java.io.FilePermission "../kaffe-1.1.7/libraries/clib/native/.libs/libjavanet.la", "read";
	permission java.io.FilePermission "../kaffe-1.1.7/libraries/clib/io/.libs/libjavanet.la", "read";
	permission java.io.FilePermission "../kaffe-1.1.7/libraries/clib/nio/.libs/libjavanet.la", "read";
	permission java.io.FilePermission "../kaffe-1.1.7/libraries/clib/net/.libs/libjavanet.la", "read";
	permission java.io.FilePermission "../kaffe-1.1.7/libraries/clib/zip/.libs/libjavanet.la", "read";
	permission java.io.FilePermission "../kaffe-1.1.7/libraries/clib/math/.libs/libjavanet.la", "read";
	permission java.io.FilePermission "../kaffe-1.1.7/libraries/clib/security/.libs/libjavanet.la", "read";
	permission java.io.FilePermission "../kaffe-1.1.7/libraries/clib/management/.libs/libjavanet.la", "read";
	permission java.io.FilePermission "../kaffe-1.1.7/external/gcc/zlib/.libs/libjavanet.la", "read";
	permission java.io.FilePermission "../kaffe-1.1.7/external/gcc/fastjar/.libs/libjavanet.la", "read";
	permission java.io.FilePermission "../kaffe-1.1.7/replace/.libs/libjavanet.la", "read";
	permission java.io.FilePermission "../kaffe-1.1.7/libltdl/.libs/libjavanet.la", "read";

	permission java.lang.RuntimePermission "loadLibrary.javanet";
};